@tailwind base;
@tailwind components;
@tailwind utilities;
.myOverflow ::-webkit-scrollbar {
       display: none;
     
       padding: 3px 3px;
     }
     
     .myOverflow {
       -ms-overflow-style: none;
       scrollbar-width: none;
     
       padding: 3px 3px;
     }
     .logo {
      font-family:monospace;
      font-weight: bolder;
      font-size: 27px;
    }